<h1>Réservation </h1>
<div class="container">
  <div class=" formulaire col-6">
    <form [formGroup]="bookingForm">
      <div class="form-group">
        <label for="firstName">Nom </label>
        <input formControlName="firstName" id="firstName" type="text" class="form-control"
          placeholder="Nom" />
      </div>
      <div class="form-group">
        <label for="lastName">Prénom</label>
        <input formControlLastName="lastName" id="lastName" type="text" class="form-control"
          placeholder="prénom" />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Numéro de téléphone</label>
        <input formControlName="phoneNumber" id="phoneNumber" type="text" class="form-control"
          placeholder="Téléphone" />
      </div>
      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input formControlName="email" id="email" type="text" class="form-control" placeholder="Adresse email" />
      </div>

      <label for="otherVisitors">Combien de participants serez vous pour cette visite ?</label> <br>
      <input formControlName = "numberOfAdults" id="numberOfAdults" class="form-control" type="number" placeholder="Nombre d'adultes">
      <input formControlName = "numberOfKids" id="numberOfKids" class="form-control" type="number" placeholder="Nombre d'enfants">

      <label for="otherVisitorsNames">Indiquez les noms et prénoms des autres participants </label> <br>
      <textarea formControlName= "otherVisitorsNames" name="otherVisitorsNames" id="otherVisitorsNames" cols="80" rows="5"></textarea><br>


      <a routerLink = "/confirmation">
        <button type="submit" class="btn btn-warning">Réserver</button>
      </a>




    </form>
  </div>

  <div class="card-details col-6">
    <h1>{{visit?.title}}</h1>
    <img [src]="visit?.imageUrl" [alt]="visit?.title">
    <p>{{session.date | date : 'dd/MM/yyyy'}}</p>
    <p>{{session.time}}</p>
    <h4 class="adresse">7 rue de la Creuse 21460 Vieux Chateau</h4>
    <p>1h30</p>
    <p>{{session.fullPrice}}</p>
     <p *ngIf = "session.halfPrice">  Demi Tarif (-10 ans) : {{session.halfPrice}}</p>
  </div>

</div>
