<div class="container">
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">
      <img src="../assets/LOGO_OK.svg" alt=""></a>
      <button type = "button" class = "navbar-toggler" data-bs-toggle= "collapse" data-bs-target = "#navbarCollapse">
        <span class = "navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="visites" class="nav-item nav-link active">Accueil</a>
        <a href="#" class="nav-item nav-link">A propos</a>
        <a href="#" class="nav-item nav-link"> Informations pratiques</a>
        <a href="#" class="nav-item nav-link">Contact</a>
      </div>
    </div>
</nav>
</div>
