img {
  width: auto;
  height: 150px;
  justify-content: center;
}

.col-12 img {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

.col-12 img {
  text-align: center;
  display: flex;
  margin: auto;
}

.navbar navbar-nav {
  margin-left: 100px;
}

ul {
  color: black;
  margin-left: 600px;
}

li {
  list-style-type: none;
  color: black;
  font-size: 17px;
  margin-left: 40px;
}

a {
  color: black;
}
