<div class="introduction">
  <p class="welcome">
    Bienvenue sur le site de réservation des visites de l’atelier S. Dugué
  </p>
  <p class="chooseVisit">
    Choisissez le type de visite Choisissez le type de visite que vous
    souhaitez réserver
  </p>
</div>
<div class="container">
  <div class="image">
    <img class="image-img" src='../assets//church-window-gff159cb2f_1920.jpg' alt="" />
    <div class="image-overlay">
      <div class="image-title"> Visites Classiques </div>
      <p class="image-description">[description]</p>
    </div>
  </div>
  <div class="image">
    <img class="image-img" src='../assets/glass-g14fe2552c_1920.jpg' alt="" />
    <div class="image-overlay">
      <div class="image-title"> Ateliers Adultes </div>
      <p class="image-description">[description]</p>
    </div>
  </div>
  <div class="image">
    <img class="image-img" src='../assets/stained-glass-g2cf2f32b6_1920.jpg' alt="" />
    <div class="image-overlay">
      <div class="image-title"> Atelier Enfants </div>
      <p class="image-description">[description]</p>
    </div>
  </div>
</div>
