.introduction {
  text-align: center;
  margin-top: 20px;
}

.welcome {
  font-size: 1.25em;
}

.chooseVisit {
  font-size: 1.27em;
  font-weight: bold;
  margin-top: 0.25em;
}

p {
  color: black;
}

.col-md-12 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
