.image {
  position: relative;
  width: auto;
  margin-top: 80px;
  margin-left: 20px;
}

.image-img {
  display: block;
  height: 210px;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-title {
  font-size: 2em;
  font-weight: bold;
}

.image-description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.container {
  width: 400px;
}
