<div class="container">
  <div class="thankYou">
    <h4>Merci pour votre réservation</h4> <br>
    <h4>Nous avons hâte de vous recevoir à l'atelier !</h4> <br>

    <img src="/confirmationAssets/separateur.png" alt="separateur">

    <p>D’ici quelques instants vous recevrez votre billet par Email, nous vous rappelons que
  le paiement s’effectuera sur place, le jour J. </p>

  <p class="forget">N’oubliez pas votre billet, pour le présenter le jour de votre visite </p>

  <p>Si vous rencontrez un problème avec votre réservation, ou pour toute annulation, veuillez
    contacter : ….</p>

    <p>En cas d’annulation, d’empêchement ou d’imprévus, nous vous remercions par avance
      de nous contacter le plus rapidement possible </p>

  </div>


      <a routerLink= "/">Retour à la page d’accueil</a>
</div>

